# cache
.mypy_cache
.pytest_cache
.tox
**/__pycache__


# environment
.env

#requirements (make requirements for generating_
requirements.txt
requirements.dev.txt


#logs
*.log

#bin
*.bin
*.bin.gz


# library data
dist
*.egg-info